

.own-message .message-content {
  background-color: #DCF8C6;
  border-radius: 20px;
  padding: 15px;
  margin-left: auto;
  max-width: 70%;
}

.other-message .message-content {
  background-color: #E2E2E2;
  border-radius: 20px;
  padding: 15px;
  margin-right: auto;
  max-width: 70%;
}

.message-text {
  margin-bottom: 5px;
  word-wrap: break-word; /* แบ่งข้อความให้สั้นลงเมื่อเกินขอบเขตของตัวกรอบ */
}

.timestamp {
  font-size: 0.8rem;
  color: #666;
  margin-top: 5px;
}

.new-message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  height: 50px;
  width: 98vw;
}

.new-message-input {
  width: calc(100% - 80px);
  height: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.send-button {
  width: 80px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.to-message .message-content {
  background-color: #C5E1A5; /* Adjust color as needed */
  border-radius: 20px;
  padding: 15px;
  margin-left: auto; /* Align to the right */
  max-width: 70%;
}

.messages {
  min-height: 95vh; /* เพิ่ม min-height แทนที่ height */
  min-width: 95vw; /* เพิ่ม min-width แทนที่ height */
  display: flex;
  background-color: #A2D2FF;
}






